@using Microsoft.AspNetCore.Mvc.ModelBinding
@using TurnDigital.Application.Common
@model TurnDigital.Web.Features.Account.Requests.LoginRequest
@{
    ViewData[Constants.ViewDataKeys.Title] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TurnDigital - @ViewData[Constants.ViewDataKeys.Title]</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>

<body>

<div class="row">
  <div class="card">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form class="col-6 mx-auto" method="POST" asp-action="Login" asp-controller="Users">
        @Html.AntiForgeryToken()
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="email" class="form-control" asp-for="Email">
        </div>
                  @if (ViewData.ModelState.GetValidationState(nameof(Model.Email)) == ModelValidationState.Invalid)
                  {
                    <div class="my-4">
                      <span asp-validation-for="Email" class="alert alert-danger"></span>
                    </div>
                  }
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control mb-2" asp-for="Password">
        </div>
        @if (ViewData.ModelState.GetValidationState(nameof(Model.Password)) == ModelValidationState.Invalid)
                  {
                    <div class="my-4">
                      <span asp-validation-for="Password" class="alert alert-danger"></span>
                    </div>
                  }
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


